[Desktop Entry]
Name=mtPaint
Comment=Simple painting program
Comment[pl]=Prosty program graficzny
TryExec=mtpaint
Exec=mtpaint
Icon=mtpaint
Terminal=false
Type=Application
Categories=GTK;Graphics;RasterGraphics;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
# vi: encoding=utf-8
